body {
  background-image: url("../../imgs/back.gif");
}
.header {
  margin-left: 15%;
}
.logo {
  width: 150px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
