.login {
  display: grid;
  grid-template: 482px / 341px 675px;
  justify-content: center;
}

.view,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  flex-direction: column;
  border: 0.5px solid lavenderblush;
  border-radius: 2px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.not-account {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.account {
  display: flex;
  align-items: center;
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system,
    BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.125px;
  color: #596377;
  margin: 0px;
}

.started {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #c6ccd7;
  border-radius: 100px;
  font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #596377;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 12px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0px 15px;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-color: #c6ccd7;
}

.started:hover {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #c6ccd7;
  border-radius: 100px;
  font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #212c64;
  opacity: 0.65;
  outline: none;
  cursor: pointer;
  padding: 0px 15px;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-color: black;
}

.form-text {
  margin-bottom: 11px;
  width: 338px;
}

.text-sign-in {
  font-family: "Inv Eina 03", "Eina 03", -apple-system, BlinkMacSystemFont,
    "Open Sans", open-sans, sans-serif;
}

.text-welcome {
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system,
    BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-size: 15px;
}

.view-image {
  width: 341px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.text-user,
.text-password {
  width: 338px;
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system,
    BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-size: 15px;
}

.input-user:focus,
.input-user:active,
.input-password:focus,
.input-password:active {
  outline: none;
  border-color: rgb(39, 110, 229);
}

.input-user {
  width: 302px;
  margin-bottom: 4px;
  border-color: rgb(199, 202, 209);
  color: rgb(34, 37, 43);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(199, 202, 209);
  border-radius: 4px;
  padding: 15px;
  transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
  border-image: initial;
}

.input-password {
  width: 304px;
  /* height: 30px; */
  margin-bottom: 24px;
  color: rgb(34, 37, 43);
  border-color: rgb(199, 202, 209);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(199, 202, 209);
  border-radius: 4px;
  padding: 15px;
  transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
  border-image: initial;
}

.login-button {
  width: 136px;
  font-size: 15px;
  height: 41px;
  font-weight: bold;
  border-radius: 19px;
  cursor: pointer;
  background: #212c64;
  color: white;
  text-decoration: none;
  opacity: 0.87;
  outline: none;
  /* font-family: "Inv Eina 03", "Eina 03", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif; */
  border-color: transparent;
}

@media screen and (max-width: 1030px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 71px;
    margin-left: 0px;
  }
  .logo {
    width: 189px;
  }
  .content {
    height: 53vh;
  }
  .login {
    grid-template: 482px / 341px 440px;
  }
}

@media screen and (max-width: 784px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 71px;
    margin-left: 0px;
  }
  .logo {
    width: 189px;
  }
  .content {
    height: 53vh;
  }
  .login {
    grid-template: 482px / 575px;
  }
  .view {
    display: none;
  }
  .form {
    background-color: transparent;
  }
}

@media screen and (max-width: 412px) {
  .login {
    grid-template: 482px / auto;
  }

  .header {
    margin-top: 16px;
    margin-bottom: 74px;
    margin-left: 0px;
  }
  .view {
    display: none;
  }
  .form {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  .started {
    margin-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .form-text {
    width: 310px;
    margin-top: 9px;
  }
  .text-user,
  .text-password {
    width: 302px;
  }
  .input-user,
  .input-password {
    width: 280px;
  }
}
